GOOGLE_SERVICE_ACCOUNT_EMAIL="example-your-service@your-service.iam.gserviceaccount.com"
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\ny0uRprIvAteToKen==\n-----END PRIVATE KEY-----\n"
GOOGLE_SHEET_ID="y0urgO0gLeSheEtID"
TELEGRAM_BOT_TOKEN="7el3gr4m80tTok3n"
TELEGRAM_CHAT_IDS="ID_USER_A, ID_USER_B"
FONNTE_TOKEN="f0n73tokEn"
WHATSAPP_NUMBER="WHATSAPP_NUMBER"
NEXT_PUBLIC_ACCESS_PIN="YOUR_PIN"
GEMINI_API_KEY="YOUR_GEMINI_API_KEY"